@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ooops! We encountered an error</h1>
<h2 class="text-danger">This has been reported back to us and you don't need to do anything, please try again later.</h2>